.env*
.venv/*
utils/config/fournisseur-data.json
logs/app.log
src/pharma_crawler/__pycache__/*
tests/__pycache__/*
.pytest_cache/*
modules/scripts/scrappers/__pycache__/*
modules/scripts/utils/__pycache__/*
modules/scrappers/__pycache__/*
modules/scripts/__pycache__/*
__pycache__/main.*
utils/config/__pycache__/*
utils/__pycache__/*